@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;800;900&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@400;500&display=swap') */

@font-face {
  font-family: 'RoundedBold';
  src: url('../../font/RoundBold.ttf');
}
@font-face {
  font-family: 'Roundedlight';
  src: url('../../font/RoundLight.ttf');
}
@font-face {
  font-family: 'RoundedMedium';
  src: url('../../font/RoundMedium.ttf');
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-jumbotron-light1: #add7f6;
  --bg-jumbotron-light2: #a3bcf9;
  --v1: rgb(190, 145, 198);
  --v2: rgb(138, 101, 204);
  --v3: #5e30d9;
  --transparentv3: #5e30d900;
  --v4: #3b1895;
  --s1: rgb(254, 167, 152);
  --s2: rgb(255, 132, 110);
  --cloud: rgb(254, 167, 152);
  --poppins: 'Poppins', sans-serif;
  --RoundBold: 'RoundedBold', sans-serif;
  --RoundMedium: 'RoundedMedium', sans-serif;
  --RoundLight: 'RoundedLight', sans-serif;
}
html {
  scroll-behavior: smooth;
}
main.template {
  position: relative;
  width: 100%;
  height: auto;
  top: 0;
  overflow-x: hidden;
  left: 0;
  background: linear-gradient(to bottom, rgb(59, 80, 137), rgb(67, 62, 105) 30%);
}

/* code for navbar */

nav.navbar {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  font-family: var(--RoundMedium);
  animation: navbar 1.5s cubic-bezier(1, -0.38, 0, 1.38) forwards;
}
@keyframes navbar {
  from {
    transform: translateY(-100px);
  }
  to {
    transform: translateY(0);
  }
}
.navbar .color-nav {
  color: #fff;
}

/* code for jumbotron */
section.jumbotron {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 100vh;
  background: linear-gradient(var(--v1) 10%, var(--s1));
}

/* cloud */
.cloud {
  width: 80vmin;
  height: 6vmin;
  position: absolute;
  background: currentcolor;
  color: var(--cloud);
  top: 70vmin;
  left: 0;
  border-radius: 50%;
  box-shadow: 30vmin 0.5vmin 0 -1vmin currentcolor, -25vmin 0 0 -0.6vmin currentcolor;
  opacity: 0.4;
  transform: translate3d(-150vmin, 0, 0);
  -webkit-animation: clouds 120s infinite;
  animation: clouds 120s infinite;
  -webkit-animation-delay: -10s;
  z-index: 4;
  animation-delay: -10s;
}

@-webkit-keyframes clouds {
  50% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(150vw, 0, 0);
  }
}

@keyframes clouds {
  50% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(150vw, 0, 0);
  }
}
.cloud-1 {
  left: 0;
  top: 15vmin;
  opacity: 0.2;
  filter: blur(1.5px);
  -webkit-animation-delay: 0;
  animation-delay: 0;
  z-index: 4;
  -webkit-animation-duration: 100s;
  animation-duration: 100s;
}
.cloud-2 {
  left: 0;
  top: 50vmin;
  opacity: 0.2;
  filter: blur(1.5px);
  -webkit-animation-delay: 0;
  animation-delay: 0;
  z-index: 4;
  -webkit-animation-duration: 80s;
  animation-duration: 80s;
}

.sun-container {
  width: 100%;
  height: 100%;
  display: grid;
  z-index: 1;
  justify-items: center;
  align-items: flex-end;
  position: absolute;
  bottom: 0;
}
.sun-container-1 {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  background: radial-gradient(circle at 50% 100%, var(--s2), transparent);
  mix-blend-mode: color-burn;
  -webkit-animation: fade 6s cubic-bezier(0.25, -0.17, 0.05, 1.07) forwards;
  animation: fade 6s cubic-bezier(0.25, -0.17, 0.05, 1.07) forwards;
}
@-webkit-keyframes fade {
  10% {
    opacity: 0;
  }
  30%,
  70% {
    opacity: 1;
  }
}

@keyframes fade {
  10% {
    opacity: 0;
  }
  30%,
  70% {
    opacity: 1;
  }
}

.sun-container .sun {
  position: relative;
  width: 400px;
  filter: blur(1.5);
  height: 400px;
  background: linear-gradient(hsla(0, 0%, 100%, 0.8), rgba(255, 255, 255, 0) 90%);
  border-radius: 50%;

  animation: rise 2.5s cubic-bezier(0.25, -0.17, 0.05, 1.07) forwards;
  box-shadow: 0 0 10px white;
}

@-webkit-keyframes rise {
  0% {
    transform: translateY(150%);
  }

  100% {
    transform: translateY(200px);
  }
}
@keyframes rise {
  0% {
    transform: translateY(150%);
  }
  100% {
    transform: translateY(200px);
  }
}

/* waves */

.waves {
  z-index: 5;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 15vh;
  margin-bottom: -7px; /*Fix for safari gap*/
  min-height: 100px;
  z-index: 1;
  max-height: 150px;
}

.content {
  position: relative;
  height: 20vh;
  text-align: center;
  background-color: white;
}

/* Animation */

.parallax > use {
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}

/* section gradation */
section.gradation {
  position: relative;
  width: 100%;
  height: 70px;
  background: linear-gradient(to bottom, rgb(77, 70, 118), transparent);
}

/* section about */
section.info-about-container {
  position: relative;
  width: 650px;
  margin: 0 auto;
  height: 50px;
  margin-top: 1.5em;
}
section.info-about {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  color: #fff;
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(7);
  -webkit-backdrop-filter: blur(7);
  border-radius: 0.5em;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.info-about span {
  text-align: center;
  font-size: 1em;
  font-family: var(--RoundLight);
}
section.about {
  position: relative;
  width: 650px;
  /* border: 1px solid red; */
  margin: 0 auto;
  margin-top: 1.5em;
  padding-left: 1em;
  display: grid;
  grid-template-columns: 1fr 0.5fr;
  grid-template-rows: auto;
}
.about .about-item {
  position: relative;
  width: 100%;
  height: 100%;
}
.about-profile {
  font-family: var(--RoundMedium);
  padding: 0.6em 0;
}
.about-profile .about-name {
  color: #fff;
  text-transform: capitalize;
  margin-bottom: -0em;
}

.about-profile .about-profesi {
  color: #fff;
  font-size: 0.8em;
  text-transform: capitalize;
}

.about-img {
  display: grid;
  place-items: center;
}
.about-img img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  user-select: none;
  border-radius: 50%;
  object-position: center;
  box-shadow: 0 0 0 1.5px #fff;
}

/* code css section container */
section.section-container {
  position: relative;
  width: 650px;
  /* border: 1px solid red; */
  margin: 0 auto;
  margin-top: 1.5em;
}

/* section bio inner section container */
section.bio {
  width: 100%;
}
.bio .title-bio {
  font-family: var(--RoundMedium);
  font-size: 1.5em;
  color: #fff;
  width: 40px;
  position: relative;
  padding-bottom: 0.1em;
}
.title-bio:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(7);
  -webkit-backdrop-filter: blur(7);
  border-radius: 0.2em;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.bio .card-bio {
  width: 100%;
  display: grid;
  grid-template-columns: 0.1fr 1.2fr;
  padding: 0;
}

.card-bio .item-bio {
  width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
  text-align: justify;
}
.card-bio .year {
  color: #fff;
  /* border: 1px solid red; */
  font-family: var(--RoundBold);
}
.card-bio .description-bio {
  font-family: var(--RoundLight);
  color: #fff;
}

/* section hooby inner section container */
section.hobby {
  width: 100%;
  margin-top: 2em;
}

.hobby .title-hobby {
  font-family: var(--RoundMedium);
  font-size: 1.5em;
  color: #fff;
  width: 77px;
  position: relative;
  padding-bottom: 0.2em;
}
.title-hobby:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(7);
  -webkit-backdrop-filter: blur(7);
  border-radius: 0.2em;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.hobby .description-hobby {
  font-family: var(--RoundLight);
  color: #fff;
  margin: 0;
}

/* section Portfolio inner section container */
section.portfolio {
  width: 100%;
  margin-top: 2em;
}

.portfolio .title-portfolio {
  font-family: var(--RoundMedium);
  font-size: 1.5em;
  color: #fff;
  width: 115px;
  position: relative;
  padding-bottom: 0.2em;
}
.title-portfolio:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(7);
  -webkit-backdrop-filter: blur(7);
  border-radius: 0.2em;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.portfolio .description-portfolio {
  font-family: var(--RoundLight);
  color: #fff;
  margin: 0;
}

/* programing portfoli */
.line-portfolio {
  width: 100%;
  height: 2px;
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(7);
  -webkit-backdrop-filter: blur(7);
  border-radius: 0.5em;
  border: 1px solid rgba(255, 255, 255, 0.18);
  margin-top: 1.5em;
}

.portfolio .programing-portfolio {
  position: relative;
  width: 100%;
  overflow: hidden;
  margin-top: 1em;
}
.programing-portfolio h2 {
  font-family: var(--RoundBold);
  font-size: 1.5em;
  color: #fff;
}

/* swipper programing  */
.swipper-programing {
  width: 100%;
  padding: 0.5em;
  height: 200px;
}
.swipper-programing .swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}
.swiper-slide {
  text-align: center;
  overflow: hidden;
  border-radius: 0.5em;
}

.visit-portfolio {
  position: relative;
  width: 100%;
  height: 100%;
  opacity: 0;
  background: rgba(43, 43, 43);
  display: grid;
  place-items: center;
  transition: 0.4s;
  font-family: var(--RoundMedium);
  text-transform: capitalize;
}
.swiper-slide:hover .visit-portfolio {
  opacity: 0.7;
}
.visit-portfolio a {
  color: #fff;
  text-decoration: none;
}
.swipper-programing .item-p {
  background-size: cover;
  background-position: center;
  filter: contrast(1.2);
  background-repeat: no-repeat;
}
.slide-programing1 {
  background: url('../../images/sunnyside.jpg');
}
.slide-programing2 {
  background: url('../../images/todo-list-app.png');
}
.slide-programing3 {
  background: url('../../images/template_Login.jpg');
}
.slide-programing4 {
  background: url('../../images/random_kuotes.png');
}

.slide-programing5 {
  background: url('../../images/rest_countries.png');
}
.slide-programing6 {
  background: url('../../images/url-short-with-api.png');
}
/* photograpy protfolio */
.portfolio .photography-portfolio {
  position: relative;
  width: 100%;
  overflow: hidden;
  margin-top: 1em;
}
.photography-portfolio h2 {
  font-family: var(--RoundBold);
  font-size: 1.5em;
  color: #fff;
}
/* swipper programing  */
.swipper-photography {
  width: 100%;
  padding: 0.5em;
  height: 200px;
}
.swipper-photography .swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.swipper-photography .item-poto {
  background-position: center bottom;
  background-repeat: no-repeat;
  filter: contrast(1.2);
  background-size: cover;
}
.slide-photography1 {
  background: url('../../images/photo1.png');
}
.slide-photography2 {
  background: url('../../images/photo2.png');
}
.slide-photography3 {
  background: url('../../images/photo3.png');
}

/* code for section social media */
section.media {
  width: 100%;
  margin-top: 2em;
}

.media .title-media {
  font-family: var(--RoundMedium);
  font-size: 1.5em;
  color: #fff;
  width: 115px;
  position: relative;
  padding-bottom: 0.2em;
}
.title-media:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(7);
  -webkit-backdrop-filter: blur(7);
  border-radius: 0.2em;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.btn-icon {
  border: none;
  transition: 0.5s;
  background: transparent;
}

/* code section footer */

footer.footer {
  position: relative;
  width: 100%;
  padding: 1em 0.5em;
  margin-top: 150px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  color: #fff;
  text-align: center;
  font-family: var(--RoundLight);
}
.footer span {
  font-size: 0.9em;
}
/*Shrinking for mobile*/

@media screen and (max-width: 768px) {
  .waves {
    height: 60px;
    min-height: 60px;
  }
  .content {
    height: 30vh;
  }
  section.about {
    width: 100%;
    padding-left: 3em;
  }
  section.info-about-container {
    width: 100%;
    padding: 0 2em;
  }
  .info-about span {
    font-size: 0.9em;
  }
  .bio .card-bio {
    gap: 0.5em;
  }
  section.section-container {
    position: relative;
    width: 100%;
    padding: 0.5em 2em;
    margin: 0 auto;
    margin-top: 1.5em;
  }
}
@media screen and (max-width: 640px) {
  .swipper-photography {
    width: 100%;
    padding: 0.5em;
    height: 250px;
  }
}
@media screen and (max-width: 500px) {
  .waves {
    height: 60px;
    min-height: 60px;
  }
  .content {
    height: 30vh;
  }
  section.about {
    grid-template-columns: 1fr;
    gap: 0.5em;
    padding-left: 0.5em;
    grid-template-areas:
      'top'
      'bottom';
  }

  .about-img {
    grid-area: top;
    padding: 0.8em 0;
  }
  .about-profile {
    text-align: center;
    grid-area: bottom;
  }
  section.info-about-container {
    width: 100%;
    height: auto;
    padding: 0 1em;
    font-size: 0.8em;
  }
  .info-about {
    padding: 1em 0.5em;
  }
  section.section-container {
    position: relative;
    width: 100%;
    padding: 0.5em 1.5em;
    margin: 0 auto;
    margin-top: 1.5em;
  }
}

@media screen and (max-width: 400px) {
  .sun-container .sun {
    width: 300px;
    filter: blur(1.5);
    height: 300px;
  }
  .about-profile .about-name {
    color: #fff;
    text-transform: capitalize;
    margin-bottom: -0em;
    font-size: 1.3em;
  }

  .about-profile .about-profesi {
    color: #fff;
    font-size: 0.7em;
    text-transform: capitalize;
  }

  .footer span {
    font-size: 0.8em;
  }
}
@media screen and (max-width: 330px) {
  .about-profile .about-name {
    color: #fff;
    text-transform: capitalize;
    margin-bottom: -0em;
    font-size: 1em;
  }

  .about-profile .about-profesi {
    color: #fff;
    font-size: 0.6em;
    text-transform: capitalize;
  }
}
